{% extends "base.html"%}
{% block start%}
<div class="container-sm mt-5 p-5 w-50">
    <div class="row search-card-result">
        <div class="col-md-3">

            <a href="hotel-detail/{{hotel_obj.uid}}">
                <img class="img-fluid" src="/media/{{hotel_obj.images.first.images}}" alt="Card image cap">

            </a>
        </div>

        <div class="col-md-5">
            <h5>{{hotel_obj.hotel_name}}</h5>

            <p>
                {{hotel_obj.description}}
            </p>
            <p>
                {% for amenity in hotel_obj.amenities.all%}
                <b>{{amenity.amenity_name}}</b>
                {% endfor%}
            </p>
        </div>
        <div class="col-md-2 border-left text-center more-offers">
            <p>
                Price
                {{hotel_obj.hotel_price }} $
            </p>
            <p>
                room count
                {{hotel_obj.room_count }}
            </p>


        </div>
        <div class="col-md-2 border-left text-center more-offers">

            <div class="btn btn-success">View deal </div>
        </div>
    </div>
</div>
{%endblock%}